<div class="row mt-4">
  <div class="col-lg-7 mb-lg-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-lg-6">
            <div class="d-flex flex-column h-100">
              <p class="mb-1 pt-2 text-bold">Entreprises</p>
              <h5 class="font-weight-bolder">Catégories d'entreprises</h5>
              <p class="mb-5" style="font-size: 12px;">L'onglet "Ajout de Catégories d'entreprises" permet d'ajouter des catégories d'entreprises à l'application. Cette fonctionnalité permet de classer les entreprises en différentes catégories pour une meilleure gestion et une organisation plus efficace des données. Les catégories peuvent inclure des industries telles que la technologie, la finance, la santé, etc.
              </p>
              <a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="{{path('admin.categories-companies')}}">
                <strong class="text-primary">Catégories d'entreprises</strong>
                <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
            <div class="border-radius-lg ">
              <img src="{{asset('assets/img/shapes/waves-white.svg')}}" class="position-absolute h-100 w-50 top-0 d-lg-block d-none" alt="waves">
              <div class="position-relative d-flex align-items-center justify-content-center h-100">
                <img class="w-100 position-relative z-index-2 pt-4 rounded h-100 border border-primary" src="{{asset('assets/img/illustrations/restaurant-ex.png')}}" alt="rocket">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="card h-100 p-3">
      <div class="overflow-hidden position-relative border-radius-lg bg-cover h-100" style="background-image: url('{{asset('assets/img/illustrations/shop.jpg')}}');">
        <span class="mask bg-gradient-dark"></span>
        <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
          <h5 class="text-white font-weight-bolder mb-4 pt-2">Entreprises & Demandes d'integration</h5>
          <p class="text-white" style="font-size: 13px;">Lorsqu'une entreprise fait une demande d'intégration, elle doit fournir des informations détaillées sur son entreprise, tels que son nom, son secteur d'activité, ses produits ou services, etc. Une fois la demande examinée et approuvée, l'entreprise est ajoutée à la liste des entreprises sur la place de marché.</p>
          <a class="text-white text-sm font-weight-bold mb-0 icon-move-right mt-auto text-primary" href="{{path('admin.companies')}}">
            <strong>Entreprises</strong>
            <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
