<div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">Utilisateurs</p>
                <h5 class="font-weight-bolder mb-0">
                  {{users.users|shortNumberStyle}}
                  <span class="text-success text-sm font-weight-bolder">+{{users.percent|number_format(2, ',', '.')}}%</span>
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="fa fa-users text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">Entreprises</p>
                <h5 class="font-weight-bolder mb-0">
                  {{companies.companies|shortNumberStyle}}
                  <span class="text-success text-sm font-weight-bolder">+{{companies.percent|number_format(2, ',', '.')}}%</span>
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="ni ni-shop text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold"> Ventes | <span class="text-success text-sm font-weight-bolder">+{{orders.percent|number_format(2, ',', '.')}}%</span></p>
                <h6 class="font-weight-bolder mb-0">
                  {{orders.amount|shortNumberStyle}}<small> FCFA</small>
                </h6>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold"> Livraisons | <span class="text-success text-sm font-weight-bolder">+{{orders.deliveriesPercent|number_format(2, ',', '.')}}%</span></p>
                <h6 class="font-weight-bolder mb-0">
                  {{orders.deliveriesAmount|shortNumberStyle}}<small> FCFA</small>
                </h6>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="fa fa-truck text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>