<div class="container-fluid">
  <div class="card card-body blur shadow-blur overflow-hidden">
    <div class="row gx-4">
      <div class="col-6 my-auto text-start">
        <div class="h-100">
          <h5 class="mb-1">
            Livreurs <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i> {% if rider %} 
            <b class="text-primary">{{rider.user.firstName}} {{rider.user.lastName}}</b> {% endif %}
          </h5>
          <p class="mb-0 font-weight-bold text-sm">
            Consultation de la demande d'adhesion du livreur
          </p>
        </div>
      </div>
      <div class="col-6 my-auto text-end">
        {% if rider %}
          <div class="h-100">
            {% if rider.rider.status == "pending" %}
              <span class="badge badge-sm bg-gradient-warning text-end">En attente de traitement</span>
            {% elseif rider.rider.status == "accepted" %}
              <span class="badge badge-sm bg-gradient-success text-end text-dark">Livreur accepte et visible</span>
            {% elseif rider.rider.status == "rejected" %}
              <span class="badge badge-sm bg-gradient-danger text-end">Livreur REJETE et indisponible</span>
            {% elseif rider.rider.status == "desactivated" %}
              <span class="badge badge-sm bg-gradient-danger text-end">livreur desactive et indisponible</span>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12 mt-4">
      <div class="card mb-4">
        <div class="card-header pb-0 p-3">
          {% for message in app.flashes('riders-error') %}
            <div class="alert alert-sm alert-danger" role="alert">
              <strong class="text-white">{{message}}</strong>
            </div>
          {% endfor %}

          {% for message in app.flashes('edit-rider') %}
            <div class="alert alert-sm alert-success" role="alert">
              <strong class="text-dark">{{message}}</strong>
            </div>
          {% endfor %}

        </div>
        <div class="card-body p-3">
          <div class="row">
            {% include './_partials/riders/show/info.html.twig' %}
            {% include './_partials/riders/show/document.html.twig' %}
            {% include './_partials/riders/show/rider-image.html.twig' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if rider %}
  <div class="container-fluid">
    <div class="card card-body blur shadow-blur overflow-hidden">
      <div class="row gx-4">
        <div class="col-6 my-auto">
          <div class="h-100">
            <div class="text-center d-flex">
              {% if rider.rider.status == "pending" %}
                <a href="{{path('admin.livreurs.status', {uuid: rider.user._id, status: "accepted"})}}" class="btn btn-round bg-gradient-success text-dark btn-lg w-50 mt-2 m-1">VALIDER LA DEMANDE</a>
                <a href="{{path('admin.livreurs.status', {uuid: rider.user._id, status: "rejected"})}}" class="btn btn-round bg-gradient-warning btn-lg w-50 mt-2 m-1">REJETER LA DEMANDE</a>
              {% elseif rider.rider.status == "accepted" %}
                <a href="{{path('admin.livreurs.status', {uuid: rider.user._id, status: "desactivated"})}}" class="btn btn-round bg-gradient-danger btn-lg w-50 mt-2 m-1">DESACTIVER LE LIVREUR</a>
                <a href="{{path('admin.livreurs.status', {uuid: rider.user._id, status: "pending"})}}" class="btn btn-round bg-gradient-dark btn-lg w-50 mt-2 m-1">REMETTRE EN ATTENTE</a>
              {% elseif rider.rider.status == "rejected" %}
                <a href="{{path('admin.livreurs.status', {uuid: rider.user._id, status: "accepted"})}}" class="btn btn-round bg-gradient-success text-dark btn-lg w-50 mt-2 m-1">VALIDER LA DEMANDE</a>
                <a href="{{path('admin.livreurs.status', {uuid: rider.user._id, status: "pending"})}}" class="btn btn-round bg-gradient-dark btn-lg w-50 mt-2 m-1">REMETTRE EN ATTENTE</a>
              {% elseif rider.rider.status == "desactivated" %}
                <a href="{{path('admin.livreurs.status', {uuid: rider.user._id, status: "accepted"})}}" class="btn btn-round bg-gradient-success text-dark btn-lg w-50 mt-2 m-1">ACTIVER LE LIVREUR</a>
                <a href="{{path('admin.livreurs.status', {uuid: rider.user._id, status: "pending"})}}" class="btn btn-round bg-gradient-dark btn-lg w-50 mt-2 m-1">REMETTRE EN ATTENTE</a>
              {% endif %}
              
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

